@import '../../common/common.css';

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  gap: var(--sp-1);
}

main.layout {
  max-width: 1100px;
  margin-inline: auto;
}

.h-jumbo {
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 95px; /* 95% */
  letter-spacing: 3px;
  text-align: center;
}

.h1 {
  font-size: 37.34px;
  font-style: normal;
  font-weight: 600;
  line-height: 44.8px; /* 119.979% */
  text-align: center;
}

.paragraph {
  /* Paragraph */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
}

.paragraph--small {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  vertical-align: middle;
}


.label {
  /* Label */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
}

/* provisional taglist */
.taglist {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-1);
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;

  .taglist__item {
    background-color: var(--white-100);
    border: 1px solid var(--brand-dark);
    color: var(--brand-dark);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
    padding: 6px 12px;

  }
}