@import '../../common/common.css';

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: start;
  width: 100%;
  min-height: 100vh;
  position: relative;
  gap: var(--sp-1);
  padding-bottom: var(--sp-4);
}

/* utility */
.layout {
  padding-inline: var(--sp-1);

  @media screen and (min-width: 1200px) {
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: unset;
  }
}

.h-jumbo {
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 95px; /* 95% */
  letter-spacing: 3px;
  text-align: center;
  vertical-align: middle;
}

.h1 {
  font-size: 37.34px;
  font-style: normal;
  font-weight: 600;
  line-height: 44.8px; /* 119.979% */
  text-align: center;
  vertical-align: middle;
}

.h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  vertical-align: middle;
}

p, .paragraph, .link {
  /* Paragraph */
  font-size: 20px;
  font-weight: 400;
  line-height: 27px; /* 135% */

  &.bold {
    font-weight: 600;
  }
}

.paragraph--small {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

.label {
  /* Label */
  font-size: 20px;
  font-weight: 600;
  line-height: 20px; /* 100% */
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* typography & spacing */
p + .cards, p + .textimage, p + .captionimage {
  margin-top: var(--sp-1);
}
