.textimage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image" "header" "text";
    gap: 20px;
}

@media (min-width: 768px) {
    .textimage {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "image header" "image text";
        gap: 20px 120px;
    }

    .textimage--orientation-right {
        grid-template-columns: 1fr 1.2fr;
        grid-template-areas: "header image" "text image";
    }
}

.textimage__header {
    grid-area: header;
}
.textimage__image {
    grid-area: image;
}
.textimage__image picture img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.textimage__text {
    grid-area: text;
}