:root {
    --brand-primary: #11C7CC;
    --brand-dark: #000048;
    --brand-border: #2F78C4;
    --brand-border-primary: #06C7CC;
    --brand-border-grey: #aea8c7;

    --action-link-color: #2F78C4;
    --bg-page: #ffffff;

    --black: #000000;
    --white-100: #ffffff;
    --grey-15: #D0D0CE;

    --sp-1: 21px;
    --sp-2: 42px;
    --sp-3: 63px;
    --sp-4: 84px;

    font-family: "Gellix", system-ui, sans-serif;
    font-weight: 400;
    color: var(--brand-dark);
    background: var(--bg-page);
}

*, *:after, *:before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: var(--bg-page);
    color: var(--brand-dark);
}

/* FONTS */



@font-face {
    font-family: "Gellix";
    src: url("/fonts/Gellix-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*@font-face {*/
/*    font-family: "Gellix";*/
/*    src: url("/fonts/Gellix-Medium.woff2") format("woff2");*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

@font-face {
    font-family: "Gellix";
    src: url("/fonts/Gellix-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*@font-face {*/
/*    font-family: "Gellix";*/
/*    src: url("/fonts/Gellix-Bold.woff2") format("woff2");*/
/*    font-weight: 600;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/


/* TYPO RESET */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
}
p, ul, ol, dl, dt, dd {
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: 84px;
    line-height: 90px;
}

h2 {
    font-size: 60px;
    line-height: 50px;
}

/* BUTTONS */
.button {
    background-color: var(--brand-primary);
    color: var(--brand-dark);
    border: none;
    border-radius: 999px;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: auto;
    line-height: 1;

    &.button--link {
        color: var(--action-link-color);
        border: solid 2px currentColor;
        background-color: var(--white-100);
    }
    &.button--link-white {
        color: var(--white-100);
        border: solid 2px currentColor;
        background-color: transparent;
    }

    path {
        fill: currentColor;
    }
}

.button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.button:hover {
    background-color: #0EADB1;
}

.button:focus {
    outline: none;
}

/* LINKS (rarely used in kiosk) */
a {
    color: inherit;
    text-decoration: none;
}