:root {

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;

  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

