@import "../../../common.css";



#app {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: var(--h1-size);
  line-height: 1.1;
}
