@import '../../../common.css';

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  gap: var(--sp-1);
}

main.layout {
  max-width: 1100px;
}

.h-jumbo {
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 95px; /* 95% */
  letter-spacing: 3px;
  text-align: center;
}

.h1 {
  font-size: 37.34px;
  font-style: normal;
  font-weight: 600;
  line-height: 44.8px; /* 119.979% */
  text-align: center;
}

.paragraph {
  /* Paragraph */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
}

.label {
  /* Label */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
}
